# === TELEGRAM BOT CONFIG ===
BOT_TOKEN=past_real_token_from_bot_father_here
TOKEN_TTL_SEC=past_your_ttl_here

# === SECURITY & S2S AUTH ===
INTERNAL_BOT_SECRET=past_real_secret_here
SECRET_KEY=past_real_key_here
ALGORITHM=HS256

# === POSTGRES DATABASE CONFIG ===
DB_PASSWORD=past_real_pw_here
DB_HOST=past_real_host_here
DB_PORT=past_real_port_here
DB_NAME=past_real_db_name_here


# === SERVICE HOSTS (FOR LOCAL OUTSIDE DOCKER RUN) ===
#DB_HOST=localhost
API_HOST=localhost
REDIS_HOST=localhost
